{
  "database": {
    "host": "localhost",
    "name": "database name",
    "login": "database login",
    "password": "database password"
  },
  "bot": {
    "name": "Telegram bot name",
    "token": "Telegram bot token",
    "admin_id": "Telegram admin id",
    "botan_token": "If you want to use botan.io, set the token here"
  }
}
